///Break Points
$grid: 1400px;
$wide: 1200px;
$break: 1024px;
$tablet: 768px;
$min-tablet:767px;
$handheld: 600px;
$mobile: 400px;
$iphone5: 320px;

///Fonts
$primary-font:'Helvetica', sans-serif;
$secondary-font:'Tahoma', sans-serif;

///Colors
$primary-color:red;
$grey:blue;

///Animation 
$duration:500ms;
$duration-long:1000ms;